@import '../../scss/Variables.scss';

.Step {
    @include default-flexbox;

    flex-direction: column;
    border: 2px solid #000;
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    color: #000;

    &__buttons {
        @include default-flexbox;

        justify-content: space-between;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 20px 0;

        button {
            margin: $m-sm;
        }
    }
}
