@import '../../../scss/Variables.scss';

.Info {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    &__stars {
        display: flex;
        color: $c-green;
        margin-bottom: $m-sm;
    }

    &__name {
        font-size: 28px;
        letter-spacing: 1px;
        text-decoration: underline;
    }

    &__price {
        font-size: 28px;
        margin: $m-md 0;
        color: $c-green;
    }

    &__specifications {
        text-align: left;
        padding-left: 0;
    }

    &__text {
        margin-bottom: $m-md;
    }
}
