@import '../../../scss/Variables.scss';

.info {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    .stars {
        display: flex;
        color: $c-green;
        margin-bottom: $m-sm;
    }

    .name {
        font-size: 28px;
        letter-spacing: 1px;
        text-decoration: underline;
    }

    .price {
        font-size: 28px;
        margin: $m-md 0;
        color: $c-green;
    }

    .specifications {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: $m-sm;
        color: $c-dark;
    }

    .text {
        text-align: justify;
        margin-bottom: $m-md;
        line-height: 20px;
    }

    .btn {
        border: none;
        color: white;
        font-weight: bold;
        background-color: $c-primary;
        border-radius: $br-m;
        padding: 10px;
        cursor: pointer;
    }
}
