@import '../../../scss/Variables.scss';

.BasketItem {
    @include default-flex;
    @include default-border;

    justify-content: space-around;
    width: 95%;
    max-width: 700px;
    margin: $m-sm auto;
    background-color: $c-blue;
    color: #fff;

    &__img {
        width: 80px;
        border-radius: $br-m;

        @media (min-width: 700px) {
            width: 100px;
        }
    }

    &__name {
        font-size: $fs-sm;
        width: 20%;

        @media (min-width: 700px) {
            font-size: $fs-md;
        }
    }

    i {
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    .fa-arrow-circle-right {
        &:active {
            color: yellowgreen;
        }
    }

    .fa-arrow-circle-left,
    .fa-trash-alt {
        &:active {
            color: $c-red;
        }
    }

    &__numbers {
        display: flex;
        font-size: $fs-sm;

        h3 {
            margin: 0 $m-xs;

            @media (min-width: 700px) {
                margin: 0 $m-sm;
            }
        }

        @media (min-width: 700px) {
            font-size: $fs-md;
        }
    }

    &__total {
        font-size: $fs-sm;

        @media (min-width: 700px) {
            font-size: $fs-md;
        }
    }
}
