@import '../../../scss/Variables.scss';

.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-secondary;

    &__item {
        padding: 5px;

        @media (min-width: 400px) {
            padding: 10px;
        }
    }
}
