@import '../../scss/Variables.scss';

.ContactPage {
    color: #000;

    .backgroungIMG {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url('../../img/backgroundFisherman.jpeg');
        background-size: cover;
    }

    &__header {
        background-color: $c-primary;
        color: #fff;
    }

    &__contactUs {
        @include default-glass;

        width: 40%;
        margin: 0 auto;
        min-width: 300px;
        position: relative;

        .contactUs__item {
            .subtitle {
                margin: $m-sm 0;
                background-color: rgb(212, 212, 212);
            }

            p {
                margin: $m-sm;
                font-size: $fs-md;

                i {
                    margin-right: $m-sm;
                }
            }
        }
    }

    &__oppeningHours {
        width: 40%;
        min-width: 300px;
        margin: 0 auto;
        margin-top: $m-sm;

        .oppeningHours__item {
            @include default-glass;

            font-size: $fs-md;

            p {
                text-align: center;
                padding: 10px;
                font-weight: bold;
            }
        }
    }

    &__article {
        background-color: #fff;
        border-top: 1.5px solid #000;
        padding-bottom: 10px;

        .article__title {
            @include default-title;

            margin-top: 20px;
        }

        .article__description {
            padding: 20px 10px;
            width: 100%;
            max-width: 800px;
        }

        .article__picture {
            width: 100%;
            max-width: 700px;

            @media (min-width: 720px) {
                margin-left: $m-md;
            }
        }
    }

    iframe {
        @include default-flex;

        text-align: center;
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }
}
