@import '../../scss/Variables.scss';

.FinishPage {
    background-color: rgb(255, 255, 255);

    &__title {
        color: #fff;
        font-size: $fs-xxl;
        text-align: center;
        margin-bottom: $m-lg;
        background: linear-gradient(to right, #0575e6, #00f260);
        padding: 20px 0;

        @media (min-width: 700px) {
            font-size: $fs-xxxl;
        }
    }

    &__info {
        color: $c-dark;
        text-align: center;
        font-size: $fs-lg;
    }

    &__link {
        display: block;
        padding: 13px;
        max-width: 120px;
        text-align: center;
        margin: $m-lg auto;
        color: #000;
        background-color: #fff;
        border: 2px solid #000;

        &:hover {
            color: #fff;
            background-color: #000;
        }
    }

    &__img {
        width: 80%;
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }
}
