@import '../../scss/Variables.scss';

.HomePage {
    background-color: white;

    &__about {
        @include default-flex;

        flex-direction: column;
        background-image: url('../../img/guru-fishing.jpeg');
        background-position: center;
        background-size: cover;
        height: 500px;
        text-align: center;

        .title {
            font-weight: bold;
            font-size: 28px;
            letter-spacing: 2px;
            text-transform: uppercase;

            @media (min-width: 441px) {
                font-size: $fs-xxl;
            }

            @media (min-width: 630px) {
                font-size: 50px;
            }
        }

        .description {
            margin-top: $m-md;
            padding: 5px;
            max-width: 900px;

            @media (min-width: 441px) {
                padding: 10px;
            }

            @media (min-width: 630px) {
                padding: 20px;
            }
        }
    }
}
