@import '../../../scss/Variables.scss';

.Anglers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    padding: 30px 0;
    background-image: linear-gradient(to right, #ae454f, #8d3a5b, #65345c, #3e2e51, #1e253c);
    position: relative;

    &__title {
        position: absolute;
        top: 35%;
        left: 0;
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 8px;
        transform: rotate(40deg);
        color: white;
        text-shadow: 0 0 4px white;
        cursor: default;
        display: none;
        opacity: 0.7;

        @media (min-width: 1030px) {
            display: flex;
        }
    }

    &__items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-bottom: $m-md;

        @media (min-width: 580px) {
            flex-direction: row;
        }
    }

    &__item {
        margin-bottom: $m-md;
        border: 2px solid $c-primary;
        padding: 10px;
        border-radius: $br-m;
        background-color: $c-blue;
        transition: transform 0.2s linear;
        color: white;

        @media (min-width: 580px) {
            margin: 0 $m-sm;
        }

        h2 {
            margin: $m-sm 0;
            font-size: $fs-md;
        }

        img {
            border-radius: $br-m;
        }
    }
}

.OurTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid $c-primary;
    border-radius: $br-m;
    background-color: $c-blue;

    &__item {
        margin: $m-sm;
    }

    &__title {
        font-size: $fs-sm;
        letter-spacing: 1px;
        font-weight: bold;
        margin: $m-sm;

        @media (min-width: 650px) {
            font-size: $fs-lg;
        }
    }

    &__img {
        width: 150px;
        border-radius: $br-m;

        @media (min-width: 650px) {
            width: 250px;
        }
    }
}
