@import '../../../scss/Variables.scss';

.Articles {
    color: $c-dark;
    margin-top: $m-md;
    background-color: $c-green;
    padding: 10px;

    &__list {
        @include default-flexbox;

        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
    }

    &__item {
        @include default-border;

        margin-bottom: $m-sm;
        height: 380px;
        background-color: $c-blue;
        color: #fff;

        .img {
            width: 250px;
        }

        .descriptionShort {
            padding: 10px 20px;
            max-width: 250px;
        }
    }

    &__btn {
        @include default-flexbox;

        padding-bottom: 10px;

        button {
            @include default-flexbox;

            border: none;
            width: 45px;
            height: 45px;
            background: none;
            border-radius: 50%;
            background-color: #fff;

            i {
                font-size: 40px;
                transition: 0.4s all linear;
            }

            &:focus {
                outline: none;
            }
        }
    }
}
