@import '../../../scss/Variables.scss';

.ActiveButton {
    border: 2px solid $c-light-green;
    background-color: #fff;
    padding: 10px;
    color: #000;
    box-shadow: 0 0 2px 0 $c-light-green;
    transition: all 0.1s linear;

    &:hover {
        background-color: $c-light-green;
        color: #fff;
    }
}
