@import '../../../scss/Variables.scss';

.LastProducts {
    @include default-flexbox;

    justify-content: space-evenly;
    flex-direction: column;
    color: #000;
    padding: 20px;

    @media (min-width: 900px) {
        flex-direction: row;
        margin-top: $m-lg;
    }

    &__title {
        @include default-title;

        padding-left: 0;
    }

    &__description {
        margin: $m-sm $m-md $m-sm 0;
        max-width: 500px;

        @media (min-width: 800px) {
            max-width: 600px;
        }
    }

    &__img {
        width: 90%;
        max-width: 500px;
    }
}

.NewProduct {
    color: #000;
    border-radius: $br-m;
    background-color: $c-primary;

    &__title {
        padding: 10px;
        color: #fff;
        letter-spacing: 2px;
        font-weight: bold;
        background-color: $c-primary;
        font-size: $fs-xl;
        text-shadow: 0 0 1px #000;
        border-radius: $br-m $br-m 0 0;

        @media (min-width: 650px) {
            font-size: $fs-xxl;
            padding: 20px;
        }
    }

    &__text {
        padding: 5px 10px;
        margin-bottom: $m-sm;
        background-color: #fff;
        max-height: 400px;
        overflow-y: auto;

        @media (min-width: 650px) {
            margin-bottom: $m-md;
            padding: 5px 20px;
        }
    }

    &__img {
        width: 150px;
        padding-bottom: 10px;

        @media (min-width: 650px) {
            width: 250px;
        }
    }
}
