@import '../../../scss/Variables.scss';

.DefaultButton {
    background-color: white;
    padding: 10px;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    display: block;
    margin: $m-xs;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.1s linear;

    &:hover {
        background-color: black !important;
        color: white !important;
    }
}
