@import '../../scss/Variables.scss';

.is-active {
    background: $c-light-green;
}

.Navigation {
    height: 48px;
    background-color: black;
    display: flex;
    align-items: center;
    z-index: 22;

    @media (min-width: 500px) {
        height: 64px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: none;

        @media (min-width: 400px) {
            display: block;
            width: 90px;
        }

        @media (min-width: 500px) {
            width: 110px;
        }
    }

    &__items {
        display: flex;
        list-style: none;
        align-items: center;
    }

    &__item {
        background: $c-primary;
        margin: 0 $m-xs;
        border-radius: $br-m;

        @media (min-width: 600px) {
            margin: 0 $m-sm;
            padding: 0;
        }

        a {
            padding: 10px;
            border-radius: $br-m;

            @media (min-width: 500px) {
                padding: 10px 15px;
                font-size: $fs-lg;
            }

            &:hover {
                background: $c-green;
            }
        }
    }

    .basket__link {
        @include default-flex;
        @include default-border;

        margin: 0 $m-sm;
        padding: 10px 15px;

        @media (min-width: 500px) {
            margin-right: $m-md;
        }

        span {
            margin-right: $m-xs;

            @media (min-width: 500px) {
                font-size: $fs-lg;
                margin-right: $m-sm;
            }
        }

        i {
            @media (min-width: 500px) {
                font-size: $fs-lg;
            }
        }

        &:hover {
            background-color: $c-primary;
        }
    }
}
