@import '../../scss/Variables.scss';

.SingleProduct {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;

    @media (min-width: 1000px) {
        flex-direction: row;
    }

    &__img {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;

        @media (min-width: 1000px) {
            max-width: none;
        }
    }
}
