@import '../../../scss/Variables.scss';

.Illustration {
    @include default-flex;

    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    color: $c-dark;
    margin-top: $m-sm;
    box-shadow: 0 0 7px 0 black;
    padding: 15px 0;

    @media (min-width: 500px) {
        flex-direction: row;
    }

    &__img {
        width: 60px;
        padding: 10px;

        @media (min-width: 500px) {
            padding: 10px;
        }

        @media (min-width: 800px) {
            width: 90px;
        }
    }

    &__title {
        letter-spacing: 0.5px;
        font-weight: bold;
        padding: 10px;

        @media (min-width: 800px) {
            font-size: $fs-lg;
        }
    }
}
