@import '../../../scss/Variables.scss';

.DefaultLink {
    @include default-border;

    background: none;
    text-transform: uppercase;
    background-color: #fff;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: $c-primary;
    }

    &:active {
        box-shadow: 0 0 2px 0 #000;
    }

    &:focus {
        outline: none;
    }

    a {
        display: block;
        padding: 10px;
        color: #000;
    }
}
