@import '../../../scss/Variables.scss';

.Sort {
    @include default-flex;

    flex-wrap: wrap;
    padding: 10px 0;
    background-color: $c-secondary;

    @media (min-width: 700px) {
        flex-direction: row;
    }

    &__title {
        color: #000;
        font-size: $fs-lg;
        margin: 0 $m-sm;
        letter-spacing: 1px;
        font-weight: 600;
    }
}
