@import '../../../scss/Variables.scss';

.Sort {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    background-color: $c-secondary;

    @media (min-width: 700px) {
        flex-direction: row;
    }

    &__title {
        color: black;
        font-size: $fs-lg;
        margin: 0 $m-sm;
        letter-spacing: 1px;
        font-weight: 600;
    }
}
