@import '../../../scss/Variables.scss';

.Newslatter {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;

    &__title {
        font-size: $fs-xl;
        padding: 10px;
        font-weight: bold;
        letter-spacing: 1px;

        @media (min-width: 500px) {
            font-size: $fs-xxl;
        }
    }

    &__text {
        font-size: $fs-sm;
        padding: 10px;

        @media (min-width: 500px) {
            font-size: $fs-md;
        }
    }

    &__label {
        padding: 10px;
        font-size: $fs-sm;
        font-weight: bold;
        line-height: 40px;

        @media (min-width: 500px) {
            font-size: $fs-md;
        }
    }

    &__error {
        margin-top: $m-xs;
        color: $c-red;
        font-weight: bold;
        font-size: $fs-sm;
    }

    &__input {
        background: none;
        border-radius: $br-m;
        padding: 10px;
        font-size: $fs-sm;
        border: 2px solid $c-primary;
    }

    &__input:focus {
        outline: none;
        border: 2px solid $c-blue;
    }

    &__btn {
        margin-left: $m-sm;
        margin-top: $m-sm;
        background: none;
        text-transform: uppercase;
        border: 2px solid $c-primary;
        background-color: white;
        padding: 8px;
        font-size: $fs-sm;
        border-radius: $br-m;
        transition: background-color 0.2s linear;
        cursor: pointer;

        &:hover {
            background-color: $c-primary;
        }

        &:active {
            box-shadow: 0 0 2px 0 black;
        }

        &:focus {
            outline: none;
            border: 2px solid $c-primary;
        }

        @media (min-width: 700px) {
            padding: 10px;
        }
    }

    &__results {
        color: white;
        margin-top: $m-sm;
    }

    .defeat__newslatter {
        padding: 10px;
        border-radius: $br-m;
        background-color: rgb(196, 21, 21);
    }

    .success__newslatter {
        padding: 10px;
        border-radius: $br-m;
        background-color: rgb(116, 180, 21);
    }
}
