@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');
@import './scss/Variables.scss';

body {
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: $c-dark;
}

.loader {
    padding: 50px 0;
    background-color: white;
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

a:link {
    outline: none;
}
