@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');
@import './scss/Variables.scss';

body {
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: $c-dark;
}

.loader {
    padding: 50px 0;
    background-color: white;
}

.errorPage {
    background-color: rgb(255, 199, 199);
    color: $c-dark;
    padding: 40px 0;

    h1 {
        font-size: $fs-xl;
        text-align: center;
        margin-bottom: $m-lg;
    }

    img {
        width: 80%;
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }
}

.finishPage {
    background-color: rgb(165, 212, 94);
    padding: 40px 0;

    h1 {
        color: white;
        font-size: $fs-xxl;
        text-shadow: 0 0 10px $c-green;
        text-align: center;
        margin-bottom: $m-lg;

        @media (min-width: 700px) {
            font-size: $fs-xxxl;
        }
    }

    img {
        width: 80%;
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

a:link {
    outline: none;
}
