$c-primary: #ffa33b;
$c-secondary: #d1cccc;
$c-dark: #333;
$c-green: #4f9064;
$c-blue: #4787a9;
$c-red: #d3373a;

$m-xs: 5px;
$m-sm: 10px;
$m-md: 20px;
$m-lg: 30px;

$br-m: 10px;
$br-l: 20px;

$fs-xs: 12px;
$fs-sm: 16px;
$fs-md: 18px;
$fs-lg: 20px;
$fs-xl: 24px;
$fs-xxl: 35px;
$fs-xxxl: 45px;
