@import '../../../scss/Variables.scss';

.NewProducts {
    padding: 20px 0;
    width: 100%;
    color: black;
    background-color: white;

    &__title {
        @include default-title;

        text-align: center;
        color: black;

        span {
            color: $c-red;
            text-shadow: none;
        }
    }

    &__product {
        margin: $m-md;
        padding: 10px 0;
        position: relative;
        background-color: white;
        border: 2px solid black;

        img {
            margin: $m-sm 0;
            width: 100%;
            max-width: 300px;
        }

        button {
            margin: $m-sm auto;
        }
    }

    &__flag {
        background-color: $c-red;
        padding: 5px 10px;
        color: white;
        font-weight: bold;
        position: absolute;
        top: -2%;
        right: -2%;
        border-radius: $br-l;
    }

    &__products {
        @include default-flex;

        flex-wrap: wrap;

        @media (min-width: 800px) {
            flex-wrap: unset;
        }
    }
}
