@import '../../../scss/Variables.scss';

.Step {
    .delivery__item,
    .payment__item {
        @include default-flexbox;

        justify-content: space-evenly;
        height: 70px;
        border-top: 1.5px solid #000;
        border-bottom: 1.5px solid #000;
        cursor: pointer;
        margin-bottom: $m-xs;

        @media (min-width: 550px) {
            height: 90px;
        }

        img {
            width: 70px;

            @media (min-width: 550px) {
                width: 85px;
            }
        }

        h4 {
            font-weight: bold;

            @media (min-width: 550px) {
                font-size: $fs-md;
            }
        }
    }

    .delivery__container,
    .payment__container {
        width: 100%;
    }
}
